[Unit]
Description=Graphite Carbon Aggregator and Cache - Instance %I
After=network.target
ConditionPathExists=%E/carbon/carbon.conf

[Service]
ExecStart=/usr/bin/carbon-aggregator-cache --nodaemon --config=%E/carbon/carbon.conf --instance=%I --pidfile=%t/%p-%i/pid start
RuntimeDirectory=%p-%i

[Install]
WantedBy=multi-user.target
DefaultInstance=a
