[Unit]
Description=Graphite Carbon Aggregator - Instance %I
After=network.target
ConditionPathExists=%E/carbon/carbon.conf

[Service]
User=carbon
Group=carbon
ExecStart=/usr/bin/carbon-aggregator --nodaemon --config=%E/carbon/carbon.conf --instance=%I --pidfile=%t/%p-%i/pid start
RuntimeDirectory=%p-%i

[Install]
WantedBy=multi-user.target
DefaultInstance=a
