[Unit]
Description=Graphite Carbon Aggregator
After=network.target
ConditionPathExists=%E/carbon/carbon.conf
Conflicts=carbon-aggregator@a.service
	
[Service]
User=carbon
Group=carbon
ExecStart=/usr/bin/carbon-aggregator --nodaemon --config=%E/carbon/carbon.conf --pidfile=%t/%N/pid start
RuntimeDirectory=%N
	
[Install]
WantedBy=multi-user.target
